.Advantage {
    display: flex;
    align-items: center;
    margin-right: var(--adv-item-margin);
    margin-bottom: 28px;
    width: 400px;
    border-radius: 12px;
    background-color: var(--transculent-bg);
    box-shadow: 0px 0px 14px 3px var(--brand-color);;
    padding: 8px;
}

.AdvantageImg {
    background-color: #ffffffb4;
    border-radius: 50%;
    width: 105px;
    padding: 5px;
    box-sizing: border-box;
}

.AdvantageText {
    color: white;
    margin-left: 12px;
    font-size: var(--font-size_l);
    font-weight: var(--font-weight_xl);
}

/*включение адаптива для .Advantage*/
:global(.is-adaptive) .Advantage {
    width: 100%;
    max-width: 400px;
    margin-right: 6px;
    margin-left: 6px;
}