.Container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.21);
    background-color: var(--transculent-bg);
    margin-bottom: 36px;
    transition: box-shadow 0.2s linear;
    margin-right: var(--cards-margin);
}

.Container:hover {
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.27);
}

.Img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.TextContent {
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: var(--font-size_m);
    font-weight: var(--font-weight_xl);
    flex-grow: 1;
}

.Fraction {
    margin-bottom: 8px;
}

.TextValue {
    color: #9f0000;
}
