.Container {

}

.Schepa {
    min-height: calc(100vh - var(--header-height));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(0, 0, 0, .45);
    background-blend-mode: overlay;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.SchepaTitle {
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 0;
    font-weight: var(--font-weight_xl);
    text-shadow: 0px 0px 15px #000;
}

.SchepaSubTitle {
    font-size: 40px;
    text-align: center;
    color: var(--brand-color);
    margin: 0 0 28px;
    font-weight: var(--font-weight_xl);
    text-shadow: 0px 0px 15px #000;
}

.Advantages {
    --adv-item-margin: 28px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-left: var(--adv-item-margin);
}

.CardsSection {
    display: flex;
    flex-direction: column;
    background-color: var(--brand-color);
    align-items: center;
}

.CardsSectionTitle {
    margin: 46px 18px 32px;
    font-size: 40px;
    text-align: center;
    max-width: 800px;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    margin: 46px 0 0 var(--cards-margin);;
    --cards-margin: 18px;
    max-width: 1014px;
}

.AboutSection {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-brand-color);
    align-items: center;
}

.AboutSectionTitle {
    margin-top: 46px;
    font-size: 40px;
}

.AboutSectionTextContainer {
    max-width: 900px;
    margin: 0 18px;
}

/*для ширины viewport менее 1014px (тут не влезают три карточки)*/
@media (max-width: 1042px) { 
    .Cards {
        max-width: 677px;
    }  
}

/*для ширины viewport менее 703px (тут не влезает одна карточка)*/
@media (max-width: 703px) { 
    .Cards {
        max-width: 340px;
    }  
}

/*для ширины viewport менее 926px (тут в один столбец складываются преиущества)*/
@media (max-width: 926px) { 
    .SchepaTitle {
        font-size: 45px;
        margin-top: 32px;
    }

    .SchepaSubTitle {
        font-size: var(--font-size_xl);
        margin-top: 32px;
    }
}

/*для высоты viewport больше 1200px (чтобы на ОЧЕНЬ длинных мониторах не тянуть на весь экран)*/
@media (min-height: 1200px) { 
    .Schepa {
        min-height: 900px;
    }
}

/*включение адаптива для .Advantages*/
:global(.is-adaptive) .Advantages {
    margin-left: 0;
}

/*включение адаптива для .SchepaTitle*/
:global(.is-adaptive) .SchepaTitle {
    font-size: var(--font-size_4xl);
}

/*включение адаптива для .SchepaSubTitle*/
:global(.is-adaptive) .SchepaSubTitle {
    font-size: var(--font-size_xl);
}

/*включение адаптива для .CardsSectionTitle*/
:global(.is-adaptive) .CardsSectionTitle {
    font-size: var(--font-size_xl);
}

/*включение адаптива для .Cards*/
:global(.is-adaptive) .Cards {
    font-size: var(--font-size_xl);
    margin-top: 0px;
}

