.Container {
    display: flex;
    background-color: var(--dark-brand-color);
    flex-grow: 1;
    align-items: center;
}

.Slider {
    margin: 12px auto;
}

.PhotoContainerClass {
    aspect-ratio: 0.75;
    max-width: 550px;
    background-color: white;
}