html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff00;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

html::-webkit-scrollbar-track {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  font-family: 'Finlandica', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  --header-height: 85px;
  --footer-height: 100px;

  /*цвета*/
  --brand-color: #f9ebd0;
  --dark-brand-color: #e6cd9d;
  --transculent-bg: rgba(0, 0, 0, 0.275);
  --transculent-bg-white: rgba(255, 255, 255, 0.275);


  /* Размеры шрифта */
  --font-size_4xs: 12px;
  --font-size_3xs: 14px;
  --font-size_2xs: 16px;
  --font-size_xs: 18px;
  --font-size_s: 20px;
  --font-size_m: 22px;
  --font-size_l: 24px;
  --font-size_xl: 26px;
  --font-size_2xl: 28px;
  --font-size_3xl: 30px;
  --font-size_4xl: 32px;

  /*Жирность*/
  --font-weight_xs: 100;
  --font-weight_s: 300;
  --font-weight_m: 400;
  --font-weight_l: 500;
  --font-weight_xl: 700;
  --font-weight_2xl: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fullHeight {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}